<!DOCTYPE html>
<html lang="en">
<style>
table, th, td {
  border:1px solid black;
}
</style>
<datalist id="deductible_names">
    {% for name in deductibles %}
        <option value={{name}}>
    {% endfor %}
</datalist>
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
</head>
<body>
<form action="#" method="POST">
    <table>
        <tr>
            <th colspan="3" align="left">
                Name:<input size="50" list="customer_names" name="customer_name" id="customer_name">
                <datalist id="customer_names">
                    {% for name in name_list %}
                        <option value={{name}}>
                    {% endfor %}
                </datalist>
            </th>
        </tr>
        <tr>
            <th>Deductible Name</th>
            <th>Price</th>
            <th>Monthly</th>
        </tr>

        <tr>
            <td>
                <input size="51" list="deductible_names" name="deductible" id=deductible>
            </td>
            <td><input type="number" min="0" name="price" id=price_></td>
            <td><input type="number" min="0" name="monthly" id=monthly></td>
        </tr>

    </table>
    <p> <input type="submit" value="Create Order" name="submit" /></p>

</form>


</body>
</html>