<!DOCTYPE html>
<html>
<body>

<h2>3M Order Database</h2>
<h3>Register Customer:</h3>

<form action="#" method="POST">
    <p>
        Name:<input name="customer_name" id="customer_name"> <br>
        Department:<input list="departments" name="department" id="department">
        <datalist id="departments">
            <option value="ICING">
            <option value="ICING (DAILY)">
            <option value="QC">
            <option value="PACKING">
        </datalist>
    </p>
    <button type="submit" name="register_customer" value="register_customer">Register</button><br>
    <button type="submit" name="see_customer_db" value="see_customer_db">See Customer DB</button>
</form>


</body>
</html>